.indent-line {
  text-indent: 1.5em;
  line-height: normal;
}
.first-line {
  text-indent: 0%;
}
.epigraph {
  font-family: "Georgia", serif;
}
.chapter-number {
  text-align: center;
  font-family: "Georgia", serif;
}
.chapter-name {
  text-align: center;
  font-family: "Georgia", serif;
}
.body-text {
  font-family: "Georgia", serif;
  text-indent: 3%;
}
